<link href="~/css/style.css" rel="stylesheet">
<div class="overlay">
    <div class="form-container">
        <div class="form-header">
            <h2>Smember</h2>
            <p>Vui lòng đăng nhập tài khoản Smember để xem ưu đãi và thanh toán dễ dàng hơn.</p>
        </div>
        <div class="form-buttons">
            <button asp-controller="KhachHang" asp-action="DangKy" class="register-btn">Đăng ký</button>
            <button asp-controller="KhachHang" asp-action="DangNhap" class="login-btn">Đăng nhập</button>
        </div>
    </div>
</div>