@model List<ShopBanHang.Areas.Admin.Models.Menu>

<ul class="nav">
    <li class="nav-item nav-profile">
        <a href="~/LayoutAdmin" class="nav-link">
            <div class="nav-profile-image">
                <img src="../../LayoutAdmin/assets/images/faces/face1.jpg" alt="profile">
                <span class="login-status online"></span>
                <!--change to offline or busy as needed-->
            </div>
            <div class="nav-profile-text d-flex flex-column">
                <span class="font-weight-bold mb-2">Vũ An</span>
                <span class="text-secondary text-small">Admin</span>
            </div>
            <i class="mdi mdi-bookmark-check text-success nav-profile-badge"></i>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="">
            <span class="menu-title">Dashboard</span>
            <i class="mdi mdi-home menu-icon"></i>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-bs-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
            <span class="menu-title">Danh mục sản phẩm </span>
            <i class="menu-arrow"></i>
            
        </a>
        <div class="collapse" id="ui-basic">
            <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link" href="pages/ui-features/buttons.html">Quản lý loại</a></li>
                <li class="nav-item"> <a class="nav-link" href="/Admin/SanPham/Index">Quản lý hàng hóa</a></li>
                
        </div>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-bs-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
            <span class="menu-title">Danh sách đơn hàng </span>
            <i class="menu-arrow"></i>

        </a>
        <div class="collapse" id="ui-basic">
            <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link" href="pages/ui-features/buttons.html">Đơn hàng mới tạo</a></li>
                <li class="nav-item"> <a class="nav-link" href="pages/ui-features/typography.html">Đơn hàng đang xử lý</a></li>
                <li class="nav-item"> <a class="nav-link" href="pages/ui-features/buttons.html">Đang giao cho khách</a></li>
                <li class="nav-item"> <a class="nav-link" href="pages/ui-features/typography.html">Đã giao thành công</a></li>
                <li class="nav-item"> <a class="nav-link" href="pages/ui-features/buttons.html">Đơn hàng đã hủy</a></li> 
        </div>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-bs-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
            <span class="menu-title">Bài viết giới thiệu </span>
            <i class="menu-arrow"></i>

        </a>
        <div class="collapse" id="ui-basic">
            <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link" href="pages/ui-features/buttons.html">Đăng bài viết</a></li>
                <li class="nav-item"> <a class="nav-link" href="pages/ui-features/typography.html">Danh sách bài viết</a></li>

        </div>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="pages/charts/chartjs.html">
            <span class="menu-title">Charts</span>
            <i class="mdi mdi-chart-bar menu-icon"></i>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-bs-toggle="collapse" href="#general-pages" aria-expanded="false" aria-controls="general-pages">
            <span class="menu-title">Sample Pages</span>
            <i class="menu-arrow"></i>
            <i class="mdi mdi-medical-bag menu-icon"></i>
        </a>
        <div class="collapse" id="general-pages">
            <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link" href="pages/samples/login.html"> Login </a></li>
                <li class="nav-item"> <a class="nav-link" href="pages/samples/register.html"> Register </a></li>
            </ul>
        </div>
    </li>
   
</ul>