@model IEnumerable<ShopBanHang.ViewModels.DanhGiaVM>

<div class="tab-pane" id="nav-mission" role="tabpanel" aria-labelledby="nav-mission-tab">
    @foreach (var item in Model)
    {
        <div class="d-flex mb-4">
            <img src="~/Hinh/KhachHang/@(item.Hinh ?? "default-avatar.jpg")" class="img-fluid rounded-circle p-3" style="width: 100px; height: 100px;" alt="Avatar">
            <div>
                <p class="mb-2" style="font-size: 14px;">@item.NgayChon.ToString("MMMM dd, yyyy")</p>
                <div class="d-flex justify-content-between">
                    <h5>@item.TenKh</h5>
                    <div class="d-flex mb-3">
                        @for (int i = 1; i <= 5; i++)
                        {
                            <i class="fa fa-star @(i <= item.DanhGia ? "text-secondary" : "")"></i>
                        }
                    </div>
                </div>
                <p>
                    @item.MoTa
                </p>
            </div>
        </div>
    }
</div>
